/* Advanced Expression Composer Trigger Button */
❤️ .codelesslove,
body {
  .❤️advanced-composer {
    position: relative;
    bottom: -10px;
    display: flex;
    justify-content: left;
    /*height: 0;*/
    margin: 0;
  }
}